[submodule "Artista/RaptureXML"]
	path = Artista/RaptureXML
	url = git://github.com/ZaBlanc/RaptureXML.git
[submodule "Artista/MGImageUtilities"]
	path = Artista/MGImageUtilities
	url = git://github.com/mattgemmell/MGImageUtilities.git
[submodule "Artista/TMQuiltView"]
	path = Artista/TMQuiltView
	url = git://github.com/1000Memories/TMQuiltView.git
[submodule "Artista/NYXImagesKit"]
	path = Artista/NYXImagesKit
	url = git://github.com/Nyx0uf/NYXImagesKit.git
