[submodule "Artista/RaptureXML"]
	path = Artista/RaptureXML
	url = git://github.com/ZaBlanc/RaptureXML.git
[submodule "Artista/MGImageUtilities"]
	path = Artista/MGImageUtilities
	url = git://github.com/mattgemmell/MGImageUtilities.git
